<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!--Main content for displaying our database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!--Header row-->
                <tr class="d-flex">
                    <th class="text-center col-4">Assignment</th>
                    <th class="text-center col-2">Date Assigned</th>
                    <th class="text-center col-2">Due Date</th>
                    <th class="text-center col-3">Course</th>
                </tr>
                <!--for/while loop-->
                <% for(let count=0; count<AssignmentList.length;count++) { %>
                    <tr class="d-flex">
                         <td class="text-center col-4"><%= AssignmentList[count].Name %></td>
                         <td class="text-center col-2"><%= AssignmentList[count].assigned %></td>
                         <td class="text-center col-2"><%= AssignmentList[count].Due %></td>
                         <td class="text-center col-3"><%= AssignmentList[count].course %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
<%- include ../partials/footer.ejs %>
