<%- include ../partials/header %>
<%- include ../partials/main_nav %>

<!-- Adding the assignment -->
<div class ="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1><%= title %></h1>

        <form class="form" method="post">
            <div class="form-group">
                <label for="nameTextfield"> Assignment Name</label>
                <input type="text" class="form-control"
                id="nameTextfield"
                placeholder="Enter name of assignment"
                name="Name" 
                value="<%= Assignment.Name%>"
                required>
            </div>

            <div class="form-group">
                <label for="assignedTextfield"> Date Assigned</label>
                <input type="text" class="form-control"
                id="assignedTextfield"
                placeholder="Date Assigned"
                name="assigned" 
                 value="<%= Assignment.assigned%>"
                 required>
            </div>

            <div class="form-group">
                <label for="dueTextfield"> Assignment Due Date</label>
                <input type="text" class="form-control"
                id="dueTextfield"
                placeholder="Due Date"
                name="Due" 
                value="<%= Assignment.Due%>"
                required>
            </div>

            <div class="form-group">
                <label for="courseTextfield"> Course</label>
                <input type="text" class="form-control"
                id="courseTextfield"
                placeholder="Enter Course"
                name="course"
                value="<%= Assignment.course%>"
                required>
            </div>

            <br>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Add
            </button>
            <a href="/assignments" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel
            </a>
        </form>
    </div>
</div>

<%- include ../partials/footer %>
